<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Boostrap CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--Css, Fonts and JS-->
    <link rel="stylesheet" href="styles.css">
    <title>User Management</title>
</head>

<body>
    <!-- 
        CHECK THIS ON THE BROWSER PAGE
        <%= Date() %> This tag prints something to the client
        <% Date() %> This tag don't
     -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 userData">
                <h1>First Name: <%= responseData[0].firstName %></h1>
                <h1>Last Name: <%= responseData[0].lasttName %></h1>
                <h1>Age: <%= responseData[0].age %></h1>
                <% const parsed_date = new Date(responseData[0].created_at);
                const formatted_date = parsed_date.toISOString().split('T')[0]; %>
                <h1>Account Created at: <%= formatted_date %></h1>
            </div>
        </div>
    </div>
</body>

</html>